

.logo{
    width: 200px;
    padding: 5px;
}

.bg-nav{
    background-color: #ffffff;
}

.activo-cs{
    color: black;
    
}

.activo-cs:hover{
    color: rgb(66, 87, 202);
    font-weight: 500;
    
}

.ul-cs{
    font-size: larger;
}

