.marcas{
    text-align: center;
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
    margin: 50px;
    margin-bottom: 90px;
}
.slider {
        background: #ffffff79;
        height: 100px;
        width: 100%;
        overflow: hidden;
        img{
            width: 250px;
            height: 100px;
        }    
        margin-bottom: 300px;
}
    
.slider .move {
    display: flex;
    width: calc(250px * 14);
    animation: animacion 50s linear infinite;
}

@keyframes animacion {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }


.slider .box {
    height: 100px;
    width: 250px;
    margin-left: 50px;
}
    
    
    
    